<div class ="listing-container">
  <div class="thumbnail-container">
    <img class="thumbnail" src=<%= listing.picture %>> </img> 
  </div>

  <div class="info-container">
    <div class="title-address-container">
      <div class="title-container">
        <h3 class="title"> <%= listing.title %> </h3>
      </div>
      <div class="address-container">
        <p class="address"><%= listing.address %></p>
      </div>
    </div>
    
    <div class="description-container">
        <h4 class="description"><%= listing.description %></h5>
    </div>
  </div>

</div>

<!-- description, title, description text, address, zip-->