
  <nav class="navbar navbar-fixed-top sticky-top" role="navigation">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Team 1</a>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav actions">
          </ul>
          <ul class="nav navbar-nav navbar-right">
                    
              <li>
                  <a href="/">Home</a>
              </li>
                      
              <li>
                  <a href="/">About</a>
              </li>
                                 
              <!-- Add search button -->
              <li>
                  <a href="/search/" class="nav-search-link" title="SEARCH">
                      <span class="fa fa-search nav-search-icon"></span>
                  </a>
              </li>
          </ul>
      </div>
  </nav>
