<nav class="navbar navbar-fixed-top navbar-expand-lg" role="navigation">
    <div class="container-fluid">
            <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="/">R - Earth</a>
                </div>
        <div class="collapse navbar-collapse">
       
        <ul class="nav navbar-nav navbar-right">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/about">Meet us</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/login">Log in</a>
            </li>

              <li class = "nav-item">
                  <a href="/submit">Submit</a>
              </li>                               
            <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="/displaylisting">Listings</a>
            </li>
        </div>
    </div>
</nav>
