<!DOCTYPE html> 
<html>
  <%- include('partials/header') -%>
<body>
  <%- include('partials/navbar') -%>
  <div class="container">
    <div class= "about-title">Meet the Team!</div>
    <div class="avatars-container">
      <a href="/about/ryan">
        <img class="avatar-image" src ="https://avatars0.githubusercontent.com/u/5275250?s=400&u=3e7e48185598013b95283b0845e8fe1ab60a5f8e&v=4">
        <div class="caption-name">Ryan Liszewski</div>
      </a>
      <a href="/about/umang">
        <img class="avatar-image" src ="https://avatars2.githubusercontent.com/u/4552395?s=460&v=4">
        <div class="caption-name">Umang Mathur</div>
      </a>
      <a href="/about/chloe">
        <img class="avatar-image" src ="https://avatars2.githubusercontent.com/u/17071619?s=460&v=4">
        <div class="caption-name">Chloe Zirbel</div>
      </a>
      <a href="/about/Alex">
        <img class="avatar-image" src ="https://avatars3.githubusercontent.com/u/21213902?s=400&u=6f719a71ffeaf7c33baea7dc75aa2c10999bf4a7&v=4">
        <div class="caption-name">Oleksandr Nibyt</div>
      </a>
      <a href="/about/rosalba">
        <img class="avatar-image" src ="https://avatars1.githubusercontent.com/u/8368493?s=400&u=e87a2515c1f76f07fd0099ff993dcbce22984889&v=4">
        <div class="caption-name">Rosalba Rodriguez</div>
      </a>
      <a href="/about/taylor">
        <img class="avatar-image" src ="https://avatars1.githubusercontent.com/u/28459564?s=400&u=5a8bea9fa050ca0d5393e078f40591ed30f0faf8&v=4">
        <div class="caption-name">Taylor Marquez</div>
      </a>
      <a href="/about/lorenzo">
        <img class="avatar-image" src ="https://avatars0.githubusercontent.com/u/25359124?s=400&v=4">
        <div class="caption-name">Lorenzo Moises</div>
      </a>
    </div>
  </div>
</body>
</html>
