<!DOCTYPE html>
<html>
<%- include('partials/header') -%>
<link rel="stylesheet" href="/stylesheets/dashboard.css" />
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDg-AaiQ6fJN0KvJvmT9lfCwJ7qPBFIUS4&libraries=places"></script>
<script src="https://momentjs.com/downloads/moment.min.js"></script>
<script type="text/javascript" src="scripts/utils.js"></script>
<script type="text/javascript" src="scripts/dashboard.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<body style="padding-top: 80px;">
    <%- include('partials/navbar') -%>
    <div class="container">
        <h1><strong>Environmental Specialist Dashboard</strong></h1>
        <ul class="dashboard_ul" id="dashboard_ul">
        </ul> 
    </div>
    
</body>

</html>