<!DOCTYPE html>
<html>
 <link rel="stylesheet" href="/home/rrodriguez/Desktop/csc648-team01/public/stylesheets/displaylisting.css">
<body>
	
	<div class="displaylisting-container">
	
		<img class="resized-image-container" src="/home/rrodriguez/Desktop/csc648-team01/public/images/dolores_trash.jpg">

		<div class="title-container">
			<h1>Pollution at Dolores Park</h1>
		</div>

		<div class="date-container">
			<h2>Date</h2>
		</div>

		<div class="location-container">
			<h2>19th & Dolores St, San Francisco, CA 94114</h2>
		</div>

		<div class="submission-container">
			<h2>Submitted by: USERNAME</h2>
		</div>

		<div class="description-container">
			<h2>Description of Issue</h2>
		</div>

	</div>
</body>
</html>