<!DOCTYPE html>
<html>
<%- include('partials/header') -%>
<link rel="stylesheet" href="/stylesheets/index.css" />

<script type="text/javascript" src="scripts/search.js"></script>
	
<%- include('partials/navbar') -%>
	<div class="index-container">
		<div class="search-container">
				<span class="input-group-btn">
					<form class="search-bar huge">
						<!-- <div class="search-dropdown">
							<span>All</span>
							<ul>
								<li class="selected">All</li>
								<li>Zip Code</li>
								<li>Name</li>
							</ul>
						</div> -->
						<input id="search-input"type="text" placeholder="Search for anything" />
						<button type="submit" value="Search">Search</button>
					</form>
				</span>
		</div>

		<div class="listings-map-container">
			<div class="listings-list-container" id="showData">
				<ul class ="listings "id="resultlist"/>
			</div>
		
			<div class="map-column-container">
				<div class="map-container">
					<iframe id="mapiframe" 
					width="800"
					height="600"
					frameborder="0" style="border:0"
					src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDg-AaiQ6fJN0KvJvmT9lfCwJ7qPBFIUS4&q=37.757815,-122.50764&zoom=12">
					</iframe>
				</div> 
			</div>
		</div>
	</div>
</body>
</html>