<!DOCTYPE html>
<html>
  <%- include('partials/header') -%>
  <link rel="stylesheet" href="/stylesheets/welcome.css" />
  <body>
      <%- include('partials/navbar') -%>
   <div class="container">
    <div class="title"><h1>Welcome to Team 1</h1> </div>
    <div class="meet-us"><a href="/about"></a></div>
  </div>
  </body>
</html>
