<!DOCTYPE html>
<html>
<%- include('partials/header') -%>
	<link rel="stylesheet" href="/stylesheets/index.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
	<script src="https://unpkg.com/ejs@2.5.7/ejs.min.js"></script>
	<script type="text/javascript" src="scripts/map.js"></script>
	<script type="text/javascript" src="scripts/search.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDg-AaiQ6fJN0KvJvmT9lfCwJ7qPBFIUS4&callback=initMap" async defer></script>
	<body>
	<%- include('partials/navbar') -%>
		<div class="index-container">
			
		<% if (!userId) { %>   
			<div class="cover-container">
					<h1 class="heading"> Welcome to R-Earth</h1>
					<h3 class="sub-heading"> Let's keep San Francisco Clean. Together.  </h3>
					<h4 class="description-heading"> Search local SF enviormantal hazards and be aware of what's going on around you. Report your own witnessed enviormental hazards so local agencies can do their jobs.</h4>
			</div>
		<% } %>
			<div class="search-container">
					<form class="search-form" data-toggle="validator" method="post">
						<div class="search-bar-container">
						<input placeholder="Zip Code or Address" id="search_bar" class="search-bar" type="text" class="validate">
						<button class="btn waves-effect waves-light">Search
								<i class="material-icons">search</i>
						</button>
						</div>
					</form>	
			</div>
			<div class="filters-container">	
							<label> Filters </label>
							<select multiple>
								<option value="1" disabled selected>Choose your option</option>
								<option value="1">Option 1</option>
								<option value="2">Option 2</option>
								<option value="3">Option 3</option>
							</select>
							<label>Materialize Multiple Select</label>
					<div class="pagination" id="pageLinkContainer"></div>	
			</div>
			<div class="listings-map-container">
				<div class="listings-list-container" id="showData">
						<ul class="listings" id="listings-list">
						</ul> 
				</div>
				<div class="map-column-container">
	
					<div class="map-container">
						<div class="map" id="map"></div>
						<div class="submit-button-container">
								<a href="/submit" class="btn-floating btn-large red">
										<i class="large material-icons">mode_edit</i>
									</a>
							</div>
					</div>	
				</div>
			</div>
			<div id="myModal" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">   
									Listing
							</div>
							<!-- <div class="modal-body">
								<div class="map" id="map"></div>
							</div> -->
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
		</div>
		
	</body>
</html>