<!DOCTYPE html>
<html>
<%- include('partials/header') -%>
	<link rel="stylesheet" href="/stylesheets/index.css" />
	<script type="text/javascript" src="scripts/map.js"></script>
	<script type="text/javascript" src="scripts/search.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDg-AaiQ6fJN0KvJvmT9lfCwJ7qPBFIUS4&callback=initMap" async defer></script>
	<body>
	<%- include('partials/navbar') -%>
		<div class="index-container">
			<div class="search-container">
				<span class="input-group-btn">
					<form class="search-bar huge">
						<input id="search-input" type="text" placeholder="Search for Zip & Address" />
						<button type="submit" value="Search"></button>
					</form>
				</span>
			</div>
			<div class="pagination" id="pageLinkContainer">
			</div>
			<div class="listings-map-container">
				<div class="listings-list-container" id="showData">
						
					<% if (listings) { %>
						<ul class="listings" id="listings-list">
							<% listings.forEach(function(listing){ %>
								<%- include('partials/listing', {listing: listing}); %>
							<% }); %>
							</ul> 
					<% } %>
				</div>
				<div class="map-column-container">
					<div class="map-container">
						<div class="map" id="map"></div>
						<div class="submit-button-container">
								<button class="submit-button"> Report an Issue</button>
							</div>
					</div>	
				</div>
			</div>
		</div>
	</body>
</html>