<!DOCTYPE html>
<html>
<%- include('partials/header') -%>
	<link rel="stylesheet" href="/stylesheets/index.css" />
	<script type="text/javascript" src="scripts/map.js"></script>
	<script type="text/javascript" src="scripts/search.js"></script>
	<body>
	<%- include('partials/navbar') -%>
		<div class="index-container">
			<div class="search-container">
				<span class="input-group-btn">
					<form class="search-bar huge">
						<input id="search-input" type="text" placeholder="Search for anything" />
						<button type="submit" value="Search">Search</button>
					</form>
				</span>
			</div>
			<div class="pagination" id="pageLinkContainer">
			</div>
			<div class="listings-map-container">
				<div class="listings-list-container" id="showData">
					<ul class="listings " id="resultlist" />
				</div>

				<div class="map-column-container">
					<div class="map-container">
						<div class="map" id="map" style="width:600px; height:600px"></div>
						<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDg-AaiQ6fJN0KvJvmT9lfCwJ7qPBFIUS4&callback=initMap"></script>
					</div>
				</div>

			</div>

		</div>
	</body>

</html>