<!DOCTYPE html>
<html>
<%- include('partials/header') -%>
	<link rel="stylesheet" href="/stylesheets/index.css" />
	<script src="https://unpkg.com/ejs@2.5.7/ejs.min.js"></script>
	<script type="text/javascript" src="scripts/map.js"></script>
	<script type="text/javascript" src="scripts/search.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDg-AaiQ6fJN0KvJvmT9lfCwJ7qPBFIUS4&callback=initMap" async defer></script>
	<body>
	<%- include('partials/navbar') -%>
		<div class="index-container">
			<div class="cover-container">
					<h1 class="heading"> Welcome to R-Earth</h1>
					<h3 class="sub-heading"> Let's keep San Francisco Clean. Together.  </h3>
					<h4 class="description-heading"> Search local SF environmental hazards and be aware of what's going on around you. Report your own witnessed enviormental hazards so local agencies can do their jobs.</h4>
			</div>
			<div class="search-container">
				<span class="input-group-btn">
					<form class="search-bar huge" data-toggle="validator">
						<input id="search-input" type="text" pattern="^(^\d{5}$)|(^\d{5}-\d{4}$)" placeholder="Search for Zip & Address" data-error="Enter a valid address or Zip Code." required/>
						<button type="submit" value="Search"></button>
					</form>
				</span>
			</div>
			<div class="filters-container">
					<button class="button radius" id="filter">Date</button>
					<button id="clearFilter" class="button radius secondary">Clear</button>
					<div class="pagination" id="pageLinkContainer"></div>	
			</div>
			<div class="listings-map-container">
				<div class="listings-list-container" id="showData">
						<ul class="listings" id="listings-list">
						</ul> 
				</div>
				<div class="map-column-container">
					<div class="map-container">
						<div class="map" id="map"></div>
						<div class="submit-button-container">
								<a class="btn btn primary submit-button" href="/submit">Report a Issue</a>
							</div>
					</div>	
				</div>
			</div>
			<div id="myModal" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<!-- Modal content-->
						<div class="modal-content">
							<div class="modal-header">   
									Listing
							</div>
							<!-- <div class="modal-body">
								<div class="map" id="map"></div>
							</div> -->
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
		</div>
		
	</body>
</html>