<!DOCTYPE html>
<html>
<%- include('partials/header') -%>
<link rel="stylesheet" href="/stylesheets/login.css" />
<script type="text/javascript" src="/scripts/login.js"></script> 
<body>
  <%- include('partials/navbar') -%>
  <div class ="container">
    <div class="form-container">
        <form id="loginForm">
        <div class="form-group">
            <label for="username" class="control-label">Username</label>
            <input type="text" class="form-control" id="username"  value="" required="" title="Please enter you username" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="password" class="control-label">Password</label>
            <input type="password" class="form-control" id="password"  value="" required="" title="Please enter your password">
        </div>
        <button type="submit" class="btn btn-success btn-block">Login</button>
        </form>
    </div>
  </div>

</body>

</html> 

