<!DOCTYPE html>
<html>
<%- include('partials/header') -%>
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.js"></script>
<link rel="stylesheet" href="/stylesheets/signup.css" />
<script type="text/javascript" src="/scripts/signup.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119585549-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119585549-1');
</script>

<body>
  <%- include('partials/navbar') -%>
  <div class="main-container">
  <div class ="signin-container">
    <div class="card"></div>
      <div class="card">
        <h1 class="title">Login</h1>
        <form class="login-form" method="post" action="/login" >
          <div class="input-container">
            <input type="text"value="" name="username" id="username" required="required"/>
            <label for="username">Username</label>
            <div class="bar"></div>
          </div>
          <div class="input-container">
            <input id="password" value="" name="password" required="required"/>
            <label for="password">Password</label>
            <div class="bar"></div>
          </div>
          <div class="button-container">
            <button type="submit"><span>Go</span></button>
          </div>
          <div class="footer"><a href="#">Forgot your password?</a></div>
        </form>
      </div>
      <div class="card alt">
        <div class="toggle"></div>
        <h1 class="title">Register
          <div class="close"></div>
        </h1>
        <form id="signup-form" method="post" action="/signup">
          <div class="input-container">
            <input type="username" id="username-sign-up" required="required"  min="8" />
            <span class="helper-text" data-error="wrong" data-success="right"></span>
            <label for="username">Username</label>
            <div class="bar"></div>
          </div>
          <div class="input-container">
              <input type="name" id="name" required="required"/>
              <label for="name">Name</label>
              <div class="bar"></div>
            </div>
          <div class="input-container">
            <input type="password" id="password_sign_up"/>
            <label for="password">Password</label>
            <div class="bar"></div>
          </div>
          <div class="input-container">
            <input type="password" id="repeat_password" />
            <label for="password">Repeat Password</label>
            <div class="bar"></div>
          </div>
          <div class="button-container">
            <button type="submit"><span>Next</span></button>
          </div>
        </form>
      </div>
    </div>
    <!-- <div class="info-container">
      <div class="info-inner-container">
        <div class="header-container">
          <h3> R-Earth</h3>
        </div>
      </div>
      <div class="content-container">
          <p> Some text will go here explaining R-Earth and all of the sites functionality</p>
        </div>
    </div> -->
    <div class="info-container">
      <div class="info-inner-container">
        <h1>Join R-Earth</h1>
        <h2 class="info-text">R-Earth is a platform for people to help keep their city clean</h2>
        <h2 class="info-text">You can search for local environmental hazards to be aware of what's going on around you and report your own witnessed environmental hazards to alert local agencies.</h2>
      </div>
    </div>
  </div>
</body>
<%- include('partials/warning') -%>

</html> 