<!DOCTYPE html>
<html>
<%- include('partials/header') -%>
<link rel="stylesheet" href="/stylesheets/submit.css" />

<body>
<%- include('partials/navbar') -%>
<div class="submit-container">

	<h1><strong>Submit A Report</strong></h1>


	<div class="image-upload-container">
		<div id ="upload"></div>
			<div class = "dropzone" id = "dropzone" >
				Upload an Image Below
			</div>
		<br>
		<input type="file" name="pic" accept="image/*" id ="imageUpload" onchange="readURL(this)">
		<br>
		<br>
	</div>

		<div class="form-container">
			<div id="form-div">
				<form class="form" id="form1">

					<div class="name">
						<input name="Title" type="text" class="validate[required,custom[onlyLetter],length[0,50]] feedback-input" placeholder="Title*" id="title" />

						<div class="dropdown">
							<select name="one" class="dropdown-select">
								<option value="" id = "option">Select A Category</option>
								<option value="1" id = "option">Air</option>
								<option value="2" id = "option">Land</option>
								<option value="3" id = "option">Water</option>
							</select>
						</div>


					</div>

					<div style="width: 100%; overflow: hidden; margin-bottom: 10px;">
						<div style="width: 260px; float: left;"> 
							<input id="btnDetect" type="button" onclick="getLocation()" class="btn btn-info" value="Auto-Detect Address & Zip"></button>
						</div>
						<div style="margin-left: 260px; display: none; top: 50%;" id="locationSpinner" class="locationSpinner">
						</div>
					</div>

					<div id = "location">
						<div class="addresstext">
							<input name="address" class="validate[required,length[0,50]] feedback-input" id="address" placeholder="Address*">
						</div>



						<div class="ziptext">
							<input name="zip" type="text" class="validate[required,length[0,50]] feedback-input" id="zip" placeholder="Zip Code*" />
						</div>

					</div>

					<div>
						 <textarea name="description" class="validate[required,length[6,300]] feedback-input" id="description" placeholder="Description*"></textarea>
					</div>




				</form>

				<div class = "buttons">

					<div class="submit">
						<input type="submit" value="SEND" id="button-blue" onclick = "submit()">
					</div>

					<div >
						<button id="button-red" onclick = "goBack()">CANCEL</button>
					</div>

				</div>
			</div>

		</div>

	</div>

<script type="text/javascript" src="scripts/submit.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDg-AaiQ6fJN0KvJvmT9lfCwJ7qPBFIUS4&libraries=places&callback=initAutocomplete"></script>



</body>

</html>