<!DOCTYPE html>
<html>
<%- include('partials/header') -%>
<link rel="stylesheet" href="/stylesheets/tempcss.css" />
<script type="text/javascript" src="javascripts/search.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-119585549-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-119585549-1');
</script>

<body onLoad="document.getElementById('submit').click();">
	<%- include('partials/navbar') -%>
	<div style='margin-left:0;margin-right:0;'>
		<div class="meet-us"><a href="/about"></a></div>
		<div class="navbar-form navbar-left" style='margin-left:40px;''>
			<div class="form-group">
				<input type="text" id="key" class="form-control" placeholder="Search">
				<button type="submit" id="submit" class="btn btn-default">Search</button>
			</div>
		</div>
		<br></br><br></br>
		<div style='margin-left:50px;margin-right:0;'>
			<div id="showData" style="float:left;width:45%;" >
				<ul id="resultlist">
				</ul>
			</div>
			<div style="float:right;width:45%;">
				<iframe id="mapiframe" 
				width="600"
				height="450"
				frameborder="0" style="border:0"
				src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDg-AaiQ6fJN0KvJvmT9lfCwJ7qPBFIUS4&q=37.757815,-122.50764&zoom=12">
			</iframe>
			<div style="clear:both; font-size:1px;"></div>
		</div>
	</div>
</body>
</html>