<!DOCTYPE html>
<html>
    <%- include('../partials/header') -%>
    <link rel="stylesheet" href="/stylesheets/about.css" />
  <body>
      <%- include('../partials/navbar') -%>
    <div class="container">
      <img class="avatar-image" src = "https://avatars3.githubusercontent.com/u/21213902?s=400&u=6f719a71ffeaf7c33baea7dc75aa2c10999bf4a7&v=4" />
      <div class="name">Oleksandr Nibyt</div>
      <div class="description"; style="text-align:center">Studying Computer Science at San Francisco State University, and <br> enjoying sunsets in Bay Area.</div>
      <div class="social-icons-container">
        <a class="link" href="https://github.com/OleksandrNibyt">
          <img class="social-icon" src="http://bogas04.github.io/img/github.svg"/>
        </a>
        <a class="link" href="mailto:aa.nibyt@gmail.com" target="_top">
          <img class="social-icon" src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Gmail_Icon.png" />
        </a>
        <a class="link" href="https://www.linkedin.com/in/oleksandr-nibyt">
          <img class="social-icon" src="http://www.iconninja.com/files/331/775/772/linkedin-website-logo-service-social-web-communication-icon.svg" />
        </a>
      </div>
    </div> 
  </body>
</html>
