<!DOCTYPE html>
<html>
    <%- include('../partials/header') -%>
    <link rel="stylesheet" href="/stylesheets/about.css" />
  <body>
      <%- include('../partials/navbar') -%>
    <div class="container">
      <img class="avatar-image" src = "https://avatars2.githubusercontent.com/u/17071619?s=460&v=4" />
      <div class="name">Chloe Zirbel</div>
      <div class="description"; style="text-align:center">Studying Computer Engineering at San Francisco State University, but<br>relocating to the Complutense University of Madrid, Spain come August 2018.</div>
      <div class="description"; style="text-align:center">Ask me about Hopalong Animal Rescue!</div>
      <div class="social-icons-container">
        <a class="link" href="https://github.com/czirbel">
          <img class="social-icon" src="http://bogas04.github.io/img/github.svg"/>
        </a>
        <a class="link" href="mailto:chloe.zirbel@gmail.com" target="_top">
          <img class="social-icon" src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Gmail_Icon.png" />
        </a>
        <a class="link" href="https://www.linkedin.com/in/chloe-zirbel">
          <img class="social-icon" src="http://www.iconninja.com/files/331/775/772/linkedin-website-logo-service-social-web-communication-icon.svg" />
        </a>
      </div>
    </div> 
  </body>
</html>