<!DOCTYPE html> 
<html>
  <%- include('../partials/header') -%>
  <body>
    <%- include('../partials/navbar') -%>
    <div class="container">
      <img class="avatar-image" src = "https://avatars0.githubusercontent.com/u/25359124?s=400&v=4" />  
      <div class="name">Lorenzo Moises</div>
      <div class="description">Computer Science Major at San Francisco State University</div>
      <div class="social-icons-container">
        <a class="link" href="https://github.com/westune">
          <img class="social-icon" src="http://bogas04.github.io/img/github.svg"/>
        </a>
        <a class="link" href="mailto:moiseslorenzo13@gmail.com" target="_top">
          <img class="social-icon" src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Gmail_Icon.png" />
        </a>
      </div>
    </div>
  </body>
</html>