<!DOCTYPE html>
<html>
    <%- include('../partials/header') -%>
    <link rel="stylesheet" href="/stylesheets/about.css" />
  <body>
      <%- include('../partials/navbar') -%>
    <div class="container">
      <img class="avatar-image" src = "https://avatars1.githubusercontent.com/u/8368493?s=400&u=e87a2515c1f76f07fd0099ff993dcbce22984889&v=4" />  
      <div class="name">Rosalba Rodriguez</div>
      <div class="description">Studying Computer Science @ San Francisco State University</div>
      <div class="social-icons-container">
        <a class="link" href="https://github.com/rosalba-rodriguez">
          <img class="social-icon" src="http://bogas04.github.io/img/github.svg"/>
        </a>
        <a class="link" href="mailto:rosalbaerodriguez@gmail.com" target="_top">
          <img class="social-icon" src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Gmail_Icon.png" />
        </a>
        <a class="link" href="https://www.linkedin.com/in/rosalba-rodriguez-395b3892/">
          <img class="social-icon" src="http://www.iconninja.com/files/331/775/772/linkedin-website-logo-service-social-web-communication-icon.svg" />
        </a>
      </div>
    </div> 
  </body>
</html>