<!DOCTYPE html>
<html>
    <%- include('../partials/header') -%>
    <link rel="stylesheet" href="/stylesheets/about.css" />
  <body>
      <%- include('../partials/navbar') -%>
    <div class="container">
      <img class="avatar-image" src = "https://avatars0.githubusercontent.com/u/5275250?s=400&u=3e7e48185598013b95283b0845e8fe1ab60a5f8e&v=4" />  
      <div class="name">Ryan Liszewski</div>
      <div class="description">Daytime coder who drinks copious amounts of coffee. DJ by night.</div>
      <div class="social-icons-container">
        <a class="link" href="https://github.com/ryanliszewski">
          <img class="social-icon" src="http://bogas04.github.io/img/github.svg"/>
        </a>
        <a class="link" href="mailto:ryanliszewski@gmail.com?Subject=I%20would%20like%20to%20know%20more%20about%20MobileSpace!" target="_top">
          <img class="social-icon" src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Gmail_Icon.png" />
        </a>
        <a class="link" href="https://www.linkedin.com/in/ryanliszewski">
          <img class="social-icon" src="http://www.iconninja.com/files/331/775/772/linkedin-website-logo-service-social-web-communication-icon.svg" />
        </a>
      </div>
    </div> 
  </body>
</html>