<!DOCTYPE html> 
<html>
  <%- include('../partials/header') -%>
  <body>
    <%- include('../partials/navbar') -%>
    <div class="container">
      <img class="avatar-image" src = "https://avatars2.githubusercontent.com/u/4552395?s=460&v=4" />  
      <div class="name">Umang Mathur</div>
      <div class="description">Graduate Student, Android Developer,Tech. Enthusiast</div>
      <div class="social-icons-container">
        <a class="link" href="https://github.com/umangmathur92">
          <img class="social-icon" src="http://bogas04.github.io/img/github.svg"/>
        </a>
        <a class="link" href="mailto:umangmathur92@gmail.com?Subject=I%20would%20like%20to%20know%20more%20about%20MobileSpace!" target="_top">
          <img class="social-icon" src="https://upload.wikimedia.org/wikipedia/commons/4/4e/Gmail_Icon.png" />
        </a>
        <a class="link" href="https://www.linkedin.com/in/umangmathur92">
          <img class="social-icon" src="http://www.iconninja.com/files/331/775/772/linkedin-website-logo-service-social-web-communication-icon.svg" />
        </a>
      </div>
    </div>
  </body>
</html>