html body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  background: linear-gradient(to bottom right, #536976, #292E49);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
}

.navbar {
  background: none;
} 

.navbar-brand{
  color: #ffffff;
}


.navbar-collapse {
  min-width: 100%;
}


