html body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  min-height: 100vh;
  background-color: #1e1e24;
}

/* .container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-width: 100vh;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
} */

.index-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
  min-width: 100vh;
  min-width: 100vw;
}

.avatars-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  text-align: center; 
}

.avatar-image {
  width: 120px;
  height: 120px; 
  border-radius: 60px; 
  margin: 10px; 
  margin-left: 20px;
  margin-right: 20px;
}

.about-title {
  font-size: 72px; 
  text-align: center; 
}

.caption-name {
  font-size: 16px;
}

.active{
  text-decoration: none;
  background-color: transparent !important;
  padding: 0; 
  border-bottom: 2px solid #acbd86;
}

.navbar {
  padding: 0px;
  height: 8%;
} 

.navbar-brand{
  color:#fffaf5;
  font-size: 38px !important;
}

.nav>li>a{
  color: #fffaf5;  
  font-size: 18px;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  background-color: transparent !important;
  padding: 0; 
  border-bottom: 2px solid #acbd86;
  margin: 14px; 
}

.navbar-collapse {
  min-width: 100%;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus
.spacer{
   background-color:black;
}

.description {
  font-size: 20px;
  margin-top: 20px;
}

.social-icons-container {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  width: 200px;
  justify-content: space-between;
}

.social-icon {
  height: 40px;
  width: 40px;
  background: transparent; 
}

.error-container {
  font-size: 48px; 
  color: #ffffff;
}