* {margin: 0; padding: 0;}

ul {
  list-style-type: none;
  width: 700px;
}

h3 {
  font: bold 20px/1.5 Helvetica, Verdana, sans-serif;
}

li img {
  float: left;
  margin: 0 15px 0 0;
}

li p {
  font: 200 12px/1.5 Georgia, Times New Roman, serif;
}

li {
  background-color: #6A788D;
  padding: 10px;
  margin: 4px;
  overflow: auto;
}

li:hover {
  background: #4D607C;
  cursor: pointer;
}